* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  background: rgb(232, 214, 222);
  background: radial-gradient(
    circle,
    rgba(232, 214, 222, 1) 0%,
    rgba(175, 192, 214, 1) 95%
  );
}
.navbar {
  background-color: #333;
}
#links {
  margin-right: 10px;
}
.navcss li {
  float: right;
  justify-content: right;
}
.showcase {
  width: 90%;
  margin-top: 100px;
  padding: 45px;
  margin-left: 60px;
  background-color: rgba(212, 228, 239, 1);
  background: @include filter-gradient(#d4e4ef, #86aecc, horizontal);
  background: @include
    background-image(
      linear-gradient(
        left bottom,
        rgba(212, 228, 239, 1) 0%,
        rgba(134, 174, 204, 1) 78%,
        rgba(134, 174, 204, 1) 100%
      )
    );
}
.maincss h2 {
  background-color: #333;
  color: azure;
  text-align: center;
  padding: 10px;
}
/*
.carousel {
  -webkit-box-shadow: 20px 21px 72px 0px rgba(63, 152, 158, 1);
  -moz-box-shadow: 20px 21px 72px 0px rgba(63, 152, 158, 1);
  box-shadow: 20px 21px 72px 0px rgba(63, 152, 158, 1);
}
*/
.maincss {
  padding: 10px;
}
.carousualcss {
  padding: 10px;
  display: inline-flex;
}
.maincss p {
  font-size: 24px;
  padding: 10px;
}
/* card css*/
.product-items {
  width: 90%;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 20px;
  background: rgb(232, 214, 222);
  background: radial-gradient(
    circle,
    rgba(232, 214, 222, 1) 0%,
    rgba(194, 182, 201, 1) 0%
  );
  padding: 40px;
}

.middle {
  padding: 10px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

div.card {
  rgb(232, 214, 222);
  background: radial-gradient(
    circle,
    rgba(232, 214, 222, 1) 0%,
    rgba(194, 182, 201, 1) 0%
  );
  cursor: pointer;
  width: 298px;
  height: 340px;
  margin-top: 20px;
}
.front,
.back {
  background-color: rgba(212, 228, 239, 1);
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}
.front img {
  padding: 0px;
  height: 100%;
}
.front {
  margin: 0px;
  height: 80%;
  transform: perspective(600px) rotateY(0deg);
}
.back {
  background: cadetblue;
  transform: perspective(600px) rotateY(180deg);
}
.back-content {
  background-color: cadetblue;
  color: #fff;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
  position: absolute;
  left: 150px;
  top: 90px;
}
.sm {
  position: absolute;
  left: 20px;
  top: 200px;
  bottom: 30px;
  color: #fff;
}
.sm a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
}
.sm a:hover {
  background: darkolivegreen;
  color: white;
}
.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.main-footer {
  margin-top: 20px;
  width: 100%;
}
.logo-default {
  width: 200px;
}
.lqd-column {
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  body {
    width: 100wh;
    height: auto;
    margin: 0;
  }
  .logo-default {
    width: 200px;
  }
  .main-footer {
    margin-left: 10px;
    width: 100%;
    min-width: 60%;
  }
  .showcase {
    padding: 20px;
    display: block;
    width: 100%%;
  }
  .carousualcss {
    display: grid;
    width: auto;
  }
  .product-items {
    margin-left: 50px;
    margin-top: 100px;
  }
}

.tweetercss {
  height: 100%;
  margin-top: 20px;
  padding: 10px;
}
.about {
  outline: 7px solid rgba(28, 110, 164, 0.17);
  outline-offset: 13px;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
  margin-left: 15px;
}
.about p {
  margin-top: 50px;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 21px 0px rgba(189, 199, 199, 1);
  -moz-box-shadow: 10px 10px 21px 0px rgba(189, 199, 199, 1);
  box-shadow: 10px 10px 21px 0px rgba(189, 199, 199, 1);
}
.about h2 {
  background-color: #333;
  color: azure;
  padding: 5px;
}
